{% block header_container %}
    {% include 'header.twig' %}
{% endblock %}

<body>
    <div class="container">
        {% block content %}
        
        {% endblock %}    
    </div>
    
    {% include 'footer.twig' %}
</body>

</html> 